.Ball{
    background-color: rgb(255, 115, 0);
    width: 3em;
    height: 2.25em;
    border-radius: 50%;
    color: white;
    margin-right: .5em;
    text-align: center;
    display: inline-block;
    font-weight: bold;
    font-size: 1.5em;
    padding-top: .75em;
}
